<div id="home-container">
  <header>
    <div id="firstScreen">
      <h1>Plants Project</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis neque eos, cum, molestiae dolorum totam
        tempore vero quod cupiditate praesentium ratione voluptatem. Quos in repellat delectus assumenda ipsam?
        Reprehenderit, similique?
      </p>
      <a href="/signup">Take the test!</a>
    </div>
  </header>
  <section id="advantages">
    <h3>Why?</h3>
    <div class="advantage">
      <div class="advantageImg">
        <img src="/images/aloe-vera.jpg" alt="">
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, nobis.
      </p>
    </div>
    <div class="advantage">
      <div class="advantageImg">
        <img src="/images/cactus-2.jpg" alt="">
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, nobis.
      </p>
    </div>
    <div class="advantage">
      <div class="advantageImg">
        <img src="/images/cactus.jpg" alt="">
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, nobis.
      </p>
    </div>
  </section>
  <section id="testimonials">
    <h3>Testimonials</h3>
    <div class="testimonials">
      <div class="testimonialsImg">
        <img src="/images/default-picture_0_0.png" alt="">
      </div>
      <p class="quotation">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, quasi!
      </p>
    </div>
    <div class="testimonials">
      <div class="testimonialsImg">
        <img src="/images/default-picture_0_0.png" alt="">
      </div>
      <p class="quotation">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, quasi!
      </p>
    </div>
    <div class="testimonials">
      <div class="testimonialsImg">
        <img src="/images/default-picture_0_0.png" alt="">
      </div>
      <p class="quotation">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, quasi!
      </p>
    </div>
  </section>
  <section id="callToAction">
    <h3>Convinced?</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus neque ullam ipsam, temporibus adipisci ut
      facilis reiciendis libero eum, quis error sint hic at magni illo, deleniti minus. Esse, error?
    </p>
    <a href="/signup">Take the test</a>
  </section>

</div>