<div id="home-container">
  <header>
    <div id="firstScreen">
      <h1>Welcome to Be Leaf !</h1>
      <p>
        Be Leaf is search engine that allows you to find the perfect plant for your home.
      </p>
      <a href="/all_plants">Find your plant !</a>
    </div>
  </header>
  <section id="advantages">
    <h3>Why?</h3>
    <div class="advantage">
      <div class="advantageImg">
        <img src="/images/aloe-vera.jpg" alt="">
      </div>
      <p>
        Are you fed up of killing your plants ?<br>
        Learn a few tips to keep them happy and in good shape.
      </p>
    </div>
    <div class="advantage">
      <div class="advantageImg">
        <img src="/images/cactus-2.jpg" alt="">
      </div>
      <p>
        Looking to bring your home a piece of nature ? <br>
        Be Leaf provides a large variety of choices for you to pick your perfect match.
      </p>
    </div>
    <div class="advantage">
      <div class="advantageImg">
        <img src="/images/cactus.jpg" alt="">
      </div>
      <p>
        You have no inspiration for a gift ?<br>
        Plants will please anyone (even your mother-in-law ;)).
      </p>
    </div>
  </section>
  <section id="testimonials">
    <h3>Testimonials</h3>
    <div class="testimonials">
      <div class="testimonialsImg">
        <img src="/images/default-picture_0_0.png" alt="">
      </div>
      <h4>Justine</h4> <br>
      <p class="quotation">
        "Thanks to this website, I finally managed to make my plant blossom !<br>
        The advice are very useful. Thanks again Be Leaf."
      </p>
    </div>
    <div class="testimonials">
      <div class="testimonialsImg">
        <img src="/images/default-picture_0_0.png" alt="">
      </div>
      <h4>Anaïs </h4><br>
      <p class="quotation">
        "I was looking for the perfect decoration, <br>
        and now I finally feel at home with these beautiful plants."
      </p>
    </div>
    <div class="testimonials">
      <div class="testimonialsImg">
        <img src="/images/default-picture_0_0.png" alt="">
      </div>
      <h4>Aimée</h4> <br>
      <p class="quotation">
        "I was looking for a gift for my brother, who has a small apartment. <br>
        Since Be Leaf have a lot of choices, I found what I was looking for."
      </p>
    </div>
  </section>
  <section id="callToAction">
    <h3>Convinced?</h3>
    <a href="/all_plants">See for yourself !</a>
  </section>

</div>