<div id="home-container">
  <header>
    <div id="firstScreen">
      <h1>BeLeaf</h1>
      <h2>
        BeLeaf is a search engine that allows you to find the perfect plant for your home.
      </h2>
      <a href="/plants">Find your plant!</a>
    </div>
  </header>

  <h3 class="titleadvantage">How can we help?</h3>

  <section id="advantages">

    <div class="advantage">
      <div class="advantageImg">
        <img src="/images/aloe-vera-square.png" alt="aloe-vera-img">
      </div>
      <div class="reasons-why">
        <h4>Advices</h4>
        <p>
          Are you fed up of killing your plants?
          Learn a few tips to keep them happy and in good shape.
        </p>
      </div>

    </div>

    <div class="advantage">
      <div class="advantageImg">
        <img src="/images/cactus-2-square.png" alt="cactus-2-img">
      </div>
      <div class="reasons-why">
        <h4>Decoration</h4>
        <p>
          Looking to bring your home a piece of nature?
          BeLeaf provides a large variety of choices for you to pick your perfect match.
        </p>
      </div>

    </div>

    <div class="advantage">
      <div class="advantageImg">
        <img src="/images/cactus-square.png" alt="cactus-img">
      </div>
      <div class="reasons-why">
        <h4>Gift</h4>
        <p>
          You have no inspiration for a gift?
          Plants will please anyone, even your mother-in-law ;)
        </p>
      </div>
    </div>
  </section>

<div id="section2">
  <h3 class="titletestimonials">Testimonials</h3>

  <section id="testimonials">

    <div class="testimonials">
      <div class="testimonialsImg">
        <img src="/images/justine.png" alt="">
      </div>
      <p class="name">Justine</p> <br>
      <p class="quotation">
        "I finally managed to make my plant blossom!
        The advice are very useful. Thanks again BeLeaf!"
      </p>
    </div>
    <div class="testimonials">
      <div class="testimonialsImg">
        <img src="/images/anais.png" alt="">
      </div>
      <p class="name">Anaïs</p><br>
      <p class="quotation">
        "I was looking for the perfect decoration,
        and now I finally feel at home with these beautiful plants."
      </p>
    </div>
    <div class="testimonials">
      <div class="testimonialsImg">
        <img src="/images/aimee.png" alt="">
      </div>
      <p class="name">Aimée</p> <br>
      <p class="quotation">
        "My brother has a small apartment.
        Since BeLeaf have a lot of choices, I found his birthday gift easily!"
      </p>
    </div>
  </section>
  <section id="callToAction">
    <h3>Convinced?</h3>
    <a href="/plants">See for yourself !</a>
  </section>
  </div>

</div>