<div id="home-container">
  <header>
    <div id="firstScreen">
      <h1>Welcome to BeLeaf !</h1>
      <h2>
        BeLeaf is a search engine that allows you to find the perfect plant for your home.
      </h2>
      <a href="/all_plants">Find your plant!</a>
    </div>
  </header>

<h3>How can we help?</h3>

  <section id="advantages">

    <div class="advantage">
      <div class="advantageImg">
        <img src="/images/aloe-vera-square.png" alt="aloe-vera-img">
      </div>
      <p>
        Are you fed up of killing your plants?<br>
        Learn a few tips to keep them happy <br>and in good shape.
      </p>
    </div>
    
    <div class="advantage">
      <div class="advantageImg">
        <img src="/images/cactus-2-square.png" alt="cactus-2-img">
      </div>
      <p>
        Looking to bring your home a piece of nature? <br>
        BeLeaf provides a large variety of choices <br>for you to pick your perfect match.
      </p>
    </div>
    
    <div class="advantage">
      <div class="advantageImg">
        <img src="/images/cactus-square.png" alt="cactus-img">
      </div>
      <p>
        You have no inspiration for a gift?<br>
        Plants will please anyone, <br>even your mother-in-law ;)
      </p>
    </div>
  </section>

  <h3>Testimonials</h3>

  <section id="testimonials">
    
    <div class="testimonials">
      <div class="testimonialsImg">
        <img src="/images/justine.png" alt="">
      </div>
      <p class="name">Justine</p> <br>
      <p class="quotation">
        "Thanks to this website, I finally managed to make my plant blossom!<br>
        The advice are very useful. Thanks again BeLeaf!"
      </p>
    </div>
    <div class="testimonials">
      <div class="testimonialsImg">
        <img src="/images/anais.png" alt="">
      </div>
      <p class="name">Anaïs </p><br>
      <p class="quotation">
        "I was looking for the perfect decoration, <br>
        and now I finally feel at home with these beautiful plants."
      </p>
    </div>
    <div class="testimonials">
      <div class="testimonialsImg">
        <img src="/images/aimee.png" alt="">
      </div>
      <p class="name">Aimée</p> <br>
      <p class="quotation">
        "I needed a gift for my brother, who has a small apartment. <br>
        Since BeLeaf have a lot of choices, I found what I was looking for."
      </p>
    </div>
  </section>
  <section id="callToAction">
    <h3>Convinced?</h3>
    <a href="/all_plants">See for yourself !</a>
  </section>

</div>