* {
  margin: 0;
  padding: 0;
}

#home-container {
  padding: 0;
}

header {
  background-image: url("/images/scott-webb-oRWRlTgBrPo-unsplash.jpg");
  background-size: cover;
  height: 90vh;
}

header a {
  background-color: #7db094;
  text-decoration: none;
  color: #f1f0eb;
  font-size: 30px;
  padding: 20px;
  border-radius: 30px;
}

h1 {
  font-family: "Poppins", sans-serif;
  text-align: right;
  font-size: 100px;
  color: #1b423a;
  margin: 0;
  width: 50vw;
}

h2 {
  font-size: 30px;
  color: #6b6c6b;
  /* margin: 0 0 30px 0; */
  width: 50vw;
  font-weight: lighter;
  text-align: right;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  color: #1b423a;
  width: 100%;
  font-size: 50px;
  margin: 70px 0 0 0;
}

.name {
  color: #336f5f;
  justify-content: center;
}

p {
  font-size: 18px;
  color: #6b6c6b;
  margin-bottom: 20px;
  padding: 5px;
}

#firstScreen {
  margin-top: 70px;
  position: static;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-right: 20px;
}

/* section {
  margin: 20px 0;
} */

#advantages {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-column-gap: 10%;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.titleadvantage {
  margin: 20px 0;
}

.advantage,
.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.advantage {
  height: 400px;
  border: none;
  box-shadow: 0px 0px 10px 2px rgba(58, 58, 58, 0.4);
}

.advantage p {
  height: 100px;
}

.advantageImg {
  max-width: 100%;
  height: 300px;
}

.advantageImg img {
  width: 100%;
  height: 100%;
  /* border-radius: 30px; */
}

#testimonials {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-column-gap: 10%;
  justify-content: center;
  padding: 0;
  width: 100%;
  background-color: #cdd9d7;
}

.titletestimonials {
  background-color: #cdd9d7;
  width: 100vw;
  padding-top: 20px;
}

.testimonialsImg {
  max-width: 100%;
  height: auto;
  margin: 30px 0 20px 0;
}

.testimonials img {
  width: 50%;
}

.reasons-why {
  align-items: end;
  justify-content: center;
}

#callToAction {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  text-align: center;
}

section a {
  background-color: #7db094;
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 20px;
  border-radius: 30px;
  margin: 20px 0 40px 0;
}

#advantages {
  font-size: 20px;
}
