* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("/images/chris-lee-70l1tDAI6rM-unsplash.jpg");
  background-size: cover;
  height: 50vh;
}

header a {
  background-color: #67aa1a;
  text-decoration: none;
  color: #f1f0eb;
  font-size: 30px;
  padding: 20px;
  border-radius: 30px;
}

header * {
  padding: 20px;
}

.home-title {
  text-align: center;
  font-size: 100px;
  color: #f1f0eb;
  text-shadow: 3px 5px 2px #1b423a;
}

h2 {
  font-size: 30px;
  color: #f1f0eb;
  text-shadow: 2px 3px 1px #1b423a;
  margin: 0 0 30px 0;
}

h3 {
  text-align: center;
  color: #549714;
  width: 100%;
  font-size: 50px;
  margin: 70px 0 0 0;
}

.name {
  color: #336f5f;
  justify-content: center;
}

p {
  font-size: 20px;
  color: #1b423a;
  margin-bottom: 20px;
}

#firstScreen {
  margin-top: 50px;
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  text-align: center;
  height: 500px;
}

section {
  margin: 20px 0;
}

#advantages,
#testimonials {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 20px;
  /* width: 100%; */
  height: 300px;
  margin: 40px 30px 100px 30px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  flex-wrap: wrap; */
}

.advantage,
.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* height: 300px; */
  text-align: center;
  height: 100%;
}

.advantage {
  border-radius: 20px;
  border: solid 2px #ede9e6;
}

.advantageImg,
.testimonialsImg {
  /* width: 80%;
  height: 100%; */
  max-width: 100%;
  height: auto;
  margin: 30px 0 20px 0;
}

.advantageImg img,
.testimonials img {
  width: 50%;
  border-radius: 30px;
}

.reasons-why {
  align-items: end;
  justify-content: center;
}

#callToAction {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  text-align: center;
}

section a {
  background-color: #67aa1a;
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 20px;
  border-radius: 30px;
  margin: 20px 0 40px 0;
}

#advantages {
  font-size: 20px;
}
