.content-one-plant {
  background-image: url("../images/one_plant.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 70px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.title-plant {
  font-size: 40px;
  text-align: start;
  margin-bottom: 20px;
}

#first-column {
  display: flex;
  flex-direction: column;
  /* width: 30%; */
}

#second-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* width: 70%; */
}

.subtitles {
  font-size: 30px;
  color: #7db094;
}

.capital-letter {
  text-transform: capitalize;
}

.plant-box {
  height: auto;
  border: none;
  margin-top: 80px;
  /* margin-left: 30px; */
  box-shadow: 0px 0px 10px 2px rgba(58, 58, 58, 0.4);
  background: white;
  border-radius: 10px;
  padding: 10px;
}

.plant-avatar {
  width: 85%;
  height: auto;
}

.list {
  list-style-type: square;
  margin-left: 30px;
  color: #6b6c6b;
}
