/* NAV*/
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

nav.nav-container {
  width: 100%;
  background-color: #1b423a;
  padding: 5px 20px;
  top: 0;
  color: #f1f0eb;
  position: fixed;
  z-index: 100;
}
.nav-ul-container {
  display: flex;
  justify-content: space-between;

  width: 95%;
}

.home-link {
  width: 5%;
}

#main-links {
  display: flex;
  font-size: 25px;
}
ul#main-nav {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

ul#main-nav li:first-child {
  margin-right: 20px;
}
ul#user-nav li:first-child {
  margin-right: 20px;
}

ul#user-nav {
  display: flex;
  align-items: center;

  /* justify-content: flex-end;
  width: 40%;
  text-align: right; */
}

nav ul {
  /* display: inline;
  list-style-type: none; */
}

nav li {
  /* display: inline;
  padding: 0 20px; */
}

nav a {
  /* color: #f1f0eb;
  text-decoration: none;
  font-size: 25px; */
}

nav a:hover {
  /* text-decoration: none;
  color: #cdd9d7; */
}

#nav_mobile {
  display: flex;
  flex-direction: column;
  background: #7db094;
  color: #1b423a;
  width: 80%;
  height: calc(100vh - 81px);
  opacity: 0.9;
  position: fixed;
  z-index: 15;
  align-items: center;
  padding-left: 20px;
  left: -100%;
  transition: left 0.6s linear;
}

#nav_mobile.is-active {
  left: 0;
}

#nav_mobile a:hover {
  text-decoration: none;
  color: #cdd9d7;
}

#mobile-icon {
  display: none;
  font-size: 30px;
  color: #cdd9d7;
  font-weight: lighter;
  position: absolute;
  left: 100px;
}

h1 {
  margin: 60px 0px 0px 0px;
}

.nav-img {
  margin: 10px 15px 0 0;
  width: 50px;
  height: auto;
  justify-content: center;
  align-items: center;
}

/* .part1 {
  display: flex;
  justify-content: flex-start;
}

.part1 {
  display: flex;
  justify-content: flex-end;
} */

/* below 767px */
@media screen and (max-width: 767px) {
  #mobile-icon {
    display: inline;
  }
  #main-links {
    display: none;
  }
  #plant-nav {
    display: flex;
    flex-direction: column;
  }
}
