/*USER PROFILE*/

/* phones */
/* under 413px */
@media screen and (max-width: 413px) {
  .content-profile {
    height: 150vh;
    display: flex;
    justify-content: center;
  }

  subtitles {
    font-size: 17px;
    color: #7db094;
  }

  .user-profile-title {
    text-align: start;
    justify-content: flex-start;
    font-size: 20px;
    color: #1b423a;
    margin: 0 0 0 30px;
  }

  aside {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    background-color: #7db094;
    color: white;
    box-shadow: 5px 0px 6px -4px rgba(125, 176, 164, 0.6);
  }

  .input-name {
    font-size: 20px;
  }

  #img-title {
    /* align-items: center; */
    justify-content: start;
    align-self: center;
  }

  #header2 {
    text-align: start;
    color: #f1f0eb;
    padding-top: 20px;
    font-size: 15px;
  }

  .type-in {
    height: 30px;
    border-radius: 10px;
  }

  .edit-btn {
    background-color: #f1f0eb;
    color: #7db094;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 20px;
  }

  .edit-btn span {
    display: none;
  }

  .edit-item {
    padding-bottom: 20px;
  }

  .user-likes {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 40px;
    margin-top: 100px;
  }

  .user-avatar {
    border-radius: 50%;
    justify-content: center;
    width: 60px;
    height: auto;
  }

  .save-changes {
    border-radius: 20px;
    color: white;
    font-size: 20px;
    background-color: #80cc84;
    padding: 20px;
    margin: 20px;
  }

  .delete {
    border-radius: 20px;
    color: white;
    font-size: 15px;
    background-color: rgb(165, 2, 2);
    padding: 10px;
    margin: 20px 10px 10px 10px;
  }
}

/* big phones / small tablet */
/* from 415px to 767px */
@media screen and (min-width: 414px) and (max-width: 767px) {
}

/* tablets */
/* from 768px to 1024px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/* small to medium desktop */
/* from 1024ox to 1440px */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
}

/* medium to big desketop */
/* above 1440px */
@media screen and (min-width: 1441px) {
}
