#content_signup {
  background-image: url("../images/cactus_signup.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#signup {
  margin-top: 100px;
  border: 2px solid white;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px 8px #9db5a6;
  height: 830px;
  width: 600px;
}

.title_signup {
  text-align: center;
  font-size: 75px;
  color: #1b423a;
  margin: 0;
  width: 100%;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.button_signup {
  background-color: #7db094;
  text-decoration: none;
  color: #f1f0eb;
  font-size: 30px;
  padding: 7px 80px;
  border-radius: 20px;
  margin-top: 25px;
}

.button:hover {
  cursor: pointer;
}

.label {
  margin: 20px 0;
}

#form p {
  margin-top: 25px;
}

.input_signup {
  border-radius: 20px;
  border: none;
  padding: 15px;
  font-size: 20px;
  background-color: #1b423a;
  color: white;
  text-align: center;
}

.errormessage {
  width: 100%;
  text-align: center;
  color: #b44a22;
  margin: 0;
}
