<div id="plantsContainer">
  <aside>
    {{!-- <h3>Filter</h3> --}}
    <div id="searchbar">
      <input id="search" type="text" placeholder="search..."><i id="searchBtn" class="fas fa-search"></i>
    </div>
    <div id="filter">
<<<<<<< HEAD
      <h4>In which environment?</h4>
=======
      <h4>Environment</h4>
>>>>>>> 6676c641ade3ca8f2f2a3d7614cb73c0c42ee6a4
      <ul class="filterCategory">
        <li class="filterLabel">
          <input id="filter_outdoor" type="checkbox" name="outside" value="outdoor">
          <label for="filter_outdoor">Outdoors</label>
        </li>
        <li class="filterLabel">
          <input id="filter_indoor" type="checkbox" name="outside" value="indoor">
          <label for="filter_indoor">Indoors</label>
        </li>
      </ul>
      <h4>Your home lighting</h4>
      <ul class="filterCategory">
        <li class="filterLabel">
          <input id="filter_direct" type="checkbox" name="lighting" value="direct">
          <label for="filter_direct">Direct lighting</label>
        </li>
        <li class="filterLabel">
          <input id="filter_softened" type="checkbox" name="lighting" value="softened">
          <label for="filter_softened">Softened</label>
        </li>
        <li class="filterLabel">
          <input id="filter_low to none" type="checkbox" name="lighting" value="low to none">
          <label for="filter_low to none">Low lighting to none</label>
        </li>
      </ul>
      <h4>How humid is your home?</h4>
      <ul class="filterCategory">
        <li class="filterLabel">
          <input id="filter_quite" type="checkbox" name="humidity" value="quite">
          <label for="filter_quite">Quite humid</label>
        </li>
        <li class="filterLabel">
          <input id="filter_normal" type="checkbox" name="humidity" value="normal">
          <label for="filter_normal">Normal</label>
        </li>
        <li class="filterLabel">
          <input id="filter_dry" type="checkbox" name="humidity" value="dry">
          <label for="filter_dry">Dry</label>
        </li>
      </ul>
      <h4>Type of plants</h4>
      <ul class="filterCategory">
        <li class="filterLabel">
          <input id="filter_green plant" type="checkbox" name="type_of_plant" value="green plant">
          <label for="filter_green plant">Green plants</label>
        </li>
        <li class="filterLabel">
          <input id="filter_plant with flowers" type="checkbox" name="type_of_plant" value="plant with flowers">
          <label for="filter_plant with flowers">Flowery plants</label>
        </li>
      </ul>
      <h4>Are you an animal lover?</h4>
      <ul class="filterCategory">
        <li class="filterLabel">
          <input id="filter_petfriendly" type="checkbox" name="animals" value="pet friendly">
          <label for="filter_petfriendly">I want pet friendly plants</label>
        </li>
      </ul>
    </div>
  </aside>

  <div id="allPlants">
    {{!-- <h1 class="title">Have a look at all of our beautiful plants</h1> --}}
    <h1 class="title">Your plant search starts here...</h1>
    <div id="grid">
      <div class="grid-sizer"></div>
      <div class="gutter-sizer"></div>
      {{#each plants}}
      <div class="plant-mini grid-item">
        {{#if ../isLoggedIn}}
        <i class="fav fas fa-heart white" data-id="{{this._id}}"></i>
        {{/if}}
        <a class="plantsInfo" href="/plants/{{this._id}}">
          <div>
            <span>{{this.name}}</span>
          </div>
        </a>
        <div class="plant-mini-img">
          <img src="{{this.avatar}}" alt="plant-img">
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>